# Cấu hình Email
EmailSettings__FromEmail=your-email@gmail.com
EmailSettings__Username=your-email@gmail.com
EmailSettings__Password=your-16-char-app-password

# Cấu hình Database
ConnectionStrings__DefaultConnection="Host=your-host; Database=your-db; Username=your-user; Password=your-password; SSL Mode=VerifyFull; Channel Binding=Require;"

# Cấu hình JWT
JwtSettings__SecretKey="your-secret-key-here"
